@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazir/Vazir-Medium-FD-WOL.woff2') format('woff2');
}
